<!DOCTYPE html>
<html lang="en">
</html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="" />
        <title>Lean's cozy cabin</title>
        <style>
            body {
                max-width: 800px;
                margin: auto;
                padding: 10px;
                background: white;
                color: black;
                font-size: 1.2em;
                line-height: 1.4;
            }

            img {
            	max-width: 800px;
            }
        </style>
    </head>

    <body>
        {% block title %}
        <h1>Lean's cabin</h1>
        {% endblock title %}
        <hr />
        <a href="/">home</a>
        |
        <a href="/about">about me</a>
        |
        <a href="/log">log</a>
        |
        <a href="/now">now</a>
        |
        <a href="/blog">blog</a>
        |
        <a href="https://leanghok.atabook.org" target="_blank">guestbook :3</a>
        |
        <a href="https://codeberg.org/leanghok" target="_blank">codeberg</a>
        |
        <a href="https://github.com/leanghok120" target="_blank">github</a>
        |
        <a href="https://sr.ht/~leanghok" target="_blank">sr.ht</a>
        <hr />

        {% block content %} {% endblock content %}
    </body>
</html>
